<mat-sidenav-container class="component-container">
  <mat-sidenav-content class="d-flex justify-content-center">
    <div class="col-lg-10 col-sm-11">
      <div class="d-flex justify-content-center">
        <div>
          <img
            [src]="isDarkTheme ? '../../../assets/img/logo/efournier92_Icon_White.png' : '../../../assets/img/logo/efournier92_Icon_Black.png'"
            alt="efournier92" class="m-3" width="128px">
        </div>
      </div>
      <p *ngFor="let aboutMe of aboutMes">
        <markdown>{{ aboutMe }}</markdown>
      </p>
      <div class="mt-4 mb-6">
        <div class="d-flex justify-content-center align-items-center mb-4" *ngFor="let maxim of maxims; let i = index">
          <div class="maxim-number col-1 d-flex justify-content-end">
            {{ i + 1 }}
          </div>
          <markdown class="maxim-content col-10" [data]="maxim"></markdown>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>