<mat-form-field class="w-100">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of selectedTags" [selectable]="selectable" [removable]="tag.name !== 'All'"
      (removed)="remove(tag.name)">
      {{ tag.name }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="Tags" #tagInput [matChipInputFor]="tagInput" (matChipInputTokenEnd)="addStackTech($event)">
    <!-- <input placeholder="" [matChipInputFor]="chipList" (matChipInputTokenEnd)="add($event)"> -->
  </mat-chip-list>
  <mat-autocomplete class="w-100" #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of allTags" [value]="tag">
      {{ tag.name }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>