// .note-controls-toolbar {
//   position: absolute;
//   background-color: transparent;
// }

.notes-drawer{
  width: 228px;
}

.notes-search-input {
  width: 80%;
}

.sidenav-toggle-button {
  min-width: 0px;
  padding: 0;
  margin-right: 10px;
}

.overflow-x-hide {
  overflow-x: hidden;
}

.search-icon {
  margin-left: 2px;
}

.note-markdown-content {
  margin-top: -20px;
}

.sidenav-project-select {
  cursor: pointer;
}