<!-- <mat-sidenav-container style="height:100%">
  <mat-sidenav opened style="width:250px;">
    <mat-form-field class="example-full-width" style="width: 100%;">
      <span>
        <i class="fa fa-search mr-2" aria-hidden="true"></i>
        <input matInput value="" style="width:80%">
      </span>
    </mat-form-field>
    <mat-list style="color:black">
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container class="example-container" style="height:100%;">
  <mat-drawer mode="side" opened style="width:228px;">
    <mat-form-field class="example-full-width" style="width: 100%;">
      <span>
        <i class="fa fa-search mr-2" aria-hidden="true"></i>
        <input matInput value="" style="width:80%">
      </span>
    </mat-form-field>
    <mat-list style="color:black">
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>

</mat-drawer-container>