<mat-sidenav-container class="component-container">
  <mat-sidenav-content class="projects-container">
    <div *ngIf="user && user.roles && user.roles.admin">
      <div class="d-flex justify-content-end">
        <button mat-mini-fab class="m-2" (click)="onCreateProject()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-11 mb-4" *ngFor="let project of allProjects">
        <app-project-view [project]="project" *ngIf="!project.isEditing"></app-project-view>
        <app-project-edit [project]="project" [totalProjects]="allProjects.length" *ngIf="project.isEditing">
        </app-project-edit>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>