<mat-sidenav-container class="component-container">
  <mat-sidenav-content>
    <div class="d-flex justify-content-end">
      <button mat-mini-fab class="m-2">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="row m-2">
      <div class="col-lg-4 col-sm-6 mb-3" *ngFor="let project of allProjects">
        <mat-card>
          <app-project-view *ngIf="!project.isEditable" [project]="project"></app-project-view>
          <app-project-edit *ngIf="project.isEditable" [project]="project"></app-project-edit>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>