<!-- <div class="my-card mb-3">
  <div class="input-group d-flex mb-1">
    <input type="text" class="project-property-input form-control w-100" placeholder="Title"
      [(ngModel)]="project.title">
    <input type="text" class="project-property-input form-control w-100" placeholder="Stack"
      [(ngModel)]="project.stack">
    <input type="text" class="project-property-input form-control w-100" placeholder="Github Url"
      [(ngModel)]="project.githubUrl">
    <input type="text" class="project-property-input form-control w-100" placeholder="Demo Url"
      [(ngModel)]="project.demoUrl">
    <textarea rows="5" type="text" class="project-property-input form-control w-100" placeholder="Description"
      [(ngModel)]="project.description"></textarea>
  </div>
  <div class="d-flex justify-content-around" style="margin-right:20px;">
    <a class="btn btn-danger" (click)="deleteProject(project)">Delete</a>
    <a class="btn btn-warning" (click)="cancelEdit(project)">Cancel</a>
    <a class="btn btn-primary" (click)="saveProject(project)">Save</a>
  </div>
</div> -->

<mat-card class="mat-elevation-z8 mt-4" style="background-color:#263238">
  <div class="input-group d-flex mb-1">
    <input type="text" class="project-property-input form-control w-100" placeholder="Title"
      [(ngModel)]="project.title">
    <input type="text" class="project-property-input form-control w-100" placeholder="Stack"
      [(ngModel)]="project.stack">
    <input type="text" class="project-property-input form-control w-100" placeholder="Github Url"
      [(ngModel)]="project.githubUrl">
    <input type="text" class="project-property-input form-control w-100" placeholder="Demo Url"
      [(ngModel)]="project.demoUrl">
    <textarea rows="5" type="text" class="project-property-input form-control w-100" placeholder="Description"
      [(ngModel)]="project.description"></textarea>
  </div>
  <div class="d-flex justify-content-around" style="margin-right:20px;">
    <a class="btn btn-danger" (click)="deleteProject(project)">Delete</a>
    <a class="btn btn-warning" (click)="cancelEdit(project)">Cancel</a>
    <a class="btn btn-primary" (click)="saveProject(project)">Save</a>
  </div>
</mat-card>