.landing-page-container {
  padding-top: 8em;
}

.typewriter-name-container {
  margin-bottom: -27px;
  margin-left: 2px;
}

.typewriter-component-name {
  font-size: 2em;
  font-weight: lighter;
}

.typewriter-component-title {
  font-size: 4em;
  font-weight: bolder;
}

.static-title-container {
  margin-bottom: -27px;
  margin-left: 2px;
}

.static-name-div {
  font-size: 2em;
  font-weight: lighter;
}

.static-title-div {
  font-size: 4em;
  font-weight: bolder;
}
