.landing-page-component-container {
  background-size: auto;
  background-position-x: -300px;
  height: 90%;
}

.animated-code-background-dark {
  background-image: url("/assets/landing-background-dark.gif");  
}

.animated-code-background-light {
  background-image: url("/assets/landing-background-light.gif");  
}

.landing-page-container {
  padding-top: 120px;
}

.typewriter-name-container {
  margin-left: 2px;
}

.typewriter-component-name {
  font-size: 2em;
  font-weight: lighter;
}

.typewriter-component-title {
  font-size: 4em;
  margin-top: 15px;
  font-weight: bolder;
}

.static-title-container {
  margin-left: 2px;
}

.static-title-div {
  font-size: 4em;
  margin-top: 15px;
  font-weight: bolder;
}

.static-name-div {
  font-size: 2em;
  font-weight: lighter;
}

.route-buttons-container {
  margin-top: 32px;
}
