<mat-drawer-container
  [ngClass]="{'animated-code-background-dark': isDarkTheme, 'animated-code-background-light': !isDarkTheme, 'landing-page-component-container': true}">
  <mat-drawer-content>
    <div class="landing-page-container d-flex flex-column align-items-center">
      <img src="../assets/img/logo/efournier92_Icon_White.png" width="80" style=""
        [ngClass]="{'invert-color': !isDarkTheme, 'animated fadeInDown delay-4s': shouldSeeLandingAnimation}">
      <div *ngIf="shouldSeeLandingAnimation">
        <div class="typewriter-name-container">
          <app-typewriter class="typewriter-component-name" [stringsToType]="['E Fournier']" [shouldLoop]="false"
            [delay]="0"></app-typewriter>
        </div>
        <div class="typewriter-component-title">
          <app-typewriter [stringsToType]="['Developer.']" [shouldLoop]="false" [delay]="2500"></app-typewriter>
        </div>
      </div>
      <div *ngIf="!shouldSeeLandingAnimation">
        <div class="static-title-container">
          <div class="static-name-div">E Fournier</div>
        </div>
        <div>
          <div class="static-title-div">Developer.</div>
        </div>
      </div>
      <div [ngClass]="{'animated fadeInUp delay-4s': shouldSeeLandingAnimation}" style="margin-top: 32px;">
        <a mat-stroked-button class="mr-4" [routerLink]="[ '/notes/all' ]">Notes</a>
        <a mat-stroked-button class="mr-4" [routerLink]="[ '/projects' ]">Projects</a>
        <a mat-stroked-button class="mr-4" [routerLink]="[ '/about' ]">About</a>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>