<div [ngClass]="{'theme-light': !isDarkTheme, 'theme-dark': isDarkTheme}" style="height:100%">
  <mat-toolbar class="d-flex justify-content-end">
    <img src="../assets/EF_Logo.png" width="60"
      [ngClass]="{'invert-color': !isDarkTheme, 'animated fadeInLeft delay-4s': !hasSeenLandingAnimation}">
    <div class="spacer"></div>
    <div [ngClass]="{'animated fadeInRight delay-4s': !hasSeenLandingAnimation}">
      <mat-slide-toggle class="example-margin" (toggleChange)="toggleTheme()" style="font-size:0.65em">
        {{ isDarkTheme ? 'Light' : 'Dark' }}
      </mat-slide-toggle>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Docs</button>
        <button mat-menu-item>Projects</button>
        <button mat-menu-item>About</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>