@import "../projects.component.scss";

.project-logo-container {
  width: 95%;
  margin-left: 2.5%;
}

.project-logo {
  max-width: 100%;
  max-height: 200px;
}

.tech-chip {
  font-size: 12px;
  font-weight: 400;
}

.button-project-edit {
  font-size: 0.9em;
}
