.file-input-container {
  width: 250px;
  height: 40px;
  margin-bottom: 16px;
}

.file-input-label {
  background: #4caf50;
  color: white;
}

.file-input {
  float: left;
  margin-top: 6px;
  margin-right: 5px;
}

#file-input-text-container {
  width: 200px;
  margin-top: -8px;
  margin-left: 5px;
  padding: 0;
}

.file-upload-cancel-icon {
  cursor: pointer;
  margin-left: 5px;
  padding: 0;
}

.none {
  display: none;
}
